h1 {
	color: blue;
	font-size: 36px;
}

#infowindow-content {
	display: none;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#select-div {
	display: inline-flex;
}

.selects {
	margin: 5px;
}
